{% extends 'base.html' %}
{% block title %} {{request.user.username}} - profile {% endblock %}

{% block content %}
<div class="container">

<div class="row">
    <div class="col-md-6 " style="margin: auto;">
        {% for details in profile %}
            <div class="card-body little-profile text-center">
                <div class="pro-img" ><img src="{{prof.avatar.url}}" alt="user" style="max-width: 180px;"></div>
                <h5 class="m-b-0">{{details.user.username}}</h5>
                <h5 class="m-b-0">{{details.user.email}}</h5>
                <h5 class="m-b-0"><span>{{details.user.first_name}}</span> <span>{{details.user.last_name}}</span></h5>
                {% if user.bio is not None %}
                <p>{{prof.bio}}</p>
                {% endif %}
                {% if request.user.id == user.id %} 
                <a href="#" class="m-t-10 waves-effect waves-dark btn btn-primary btn-sm btn-rounded" data-abc="true">Edit Profile</a>
                {% else %}
                {% endif %}
            </div>
            <hr>
            <h5 class="text-center" style="font-weight: bold;">BUSINESS</h5>
            <hr>
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{post.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><p style="margin-left: 0.3rem; vertical-align:middle">{{post.liked.all.count}} likes</p> </h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{post.name}}</h6>
                          <p class="card-text">{{post.description|truncatechars:60}}</p>
                          <a href="{{post.project_link}}" class="card-link">View Site</a>
                        </div>
                      </div>
                </div>
                
                {% endfor %}
            </div>
           
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}