{% extends 'base.html' %}
{% block title %} {{request.user.username}} - profile {% endblock %}

{% block content %}
<div class="container rounded bg-white mb-5">
    <div class="row mt-5 row-shadow ">
        <div class="col-md-5 border-right">
            {% for prof in profile%}
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px" src="{{prof.avatar.url}}"><span
                    class="font-weight-bold text-white">{{request.user.username}}</span><span
                    class="text-primary text-white">{{request.user.email}}</span><span>
                </span></div>
                {% endfor %}
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5 mt-5">
                <div class="d-flex justify-content-between align-items-center">
                    <hr>
                    <h4 class="text-right text-white">Profile Settings</h4>
                    <hr>
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row mt-3">
                        <div class="col-md-12 mt-2">
                            <label class="labels text-white">Profile Picture</label>
                            {{form.avatar}}
                        </div>
                        <div class="col-md-12 mt-2">
                            <label class="labels text-white">Bio</label>
                            {{form.bio}}
                        </div>
                       
                        <div class="col-md-12 mt-2">
                            <label class="labels text-white">Location</label>
                            {{form.location}}
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}