{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="container">
    <div class="row row-shadow d-flex justify-content-around align-items-center mt-5 mb-5">
        <div class="col-md-5">
            <img src="{% static 'images/media/4204968-removebg-preview.png'%}" alt="image">
        </div>
        <div class="col-md-5">
            <legend>Sign Up</legend>
            <form action="{% url 'login'%}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary ">Sign Up</button><span class="text-muted ms-3">Already have an account? <a href="{% url 'login'%}" style="text-decoration: none;">Login</a></span>
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}