<header class="site-header">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'landing'%}">Home</a>
                    <form class="d-flex">
                        <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
                      </form>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link" href="{% url 'business'%}">Business</a>
                    <a class="nav-item nav-link" href="">Locations</a>
                    <a class="nav-item nav-link" href="">Posts</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                         Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="{% url 'profile' request.user.id %}">Profile</a></li>
                          <li><a class="dropdown-item" href="{% url 'logout'%}">Log Out</a></li>
                        </ul>
                      </li>

                </div>
            </div>
        </div>
    </nav>
</header>