{% extends 'home.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="introduction d-flex justify-content-around align-items-center">
                <div>
                    <h4>Community</h4>
                </div>
                <div class="d-flex justify-content-around">
                    <h5>Community</h5>
                    <h5>About</h5>
                    <h5>FAQ</h5>
                </div>
                <div>
                    <a class="btn btn-success  button"> Login</a>
                </div>
            </div>
            <hr>
        </div>
        
    </div>

    </div>
    {% endblock %}